$color-primario: #3936da;
$color-secundario: #000;



#menu a, button{
    font-size: 18px ;
    font-weight: 600;
   
}

#menu a{
    color:#0e0303;
    
}


.carousel-inner {
   max-height:39rem ;
}



.wrapper-local {
   width:50%;
   margin-left:100px;
   padding-top:150px;
}



#numeros-local{
   margin:0 ;
   padding:0 !important;
}
#numeros-local div {
   padding: 0 20px 0 0;   
   text-align:center;
   height: 150px;
}

#numeros-local div:not(:last-child) {
   border-right: 2px solid #3f3f3f;
 }
#numeros-local div:not(:first-child) {
   padding-left:50px;
 }

#numeros-local p{
   margin: 0px;;
}











footer {
   background: #1b2a4e;
   min-height: 100px;;
}
footer p{
   color:#f3f3f3;
   text-align:center;
}
#iconos  i {
   font-size: 26px;
   padding: 0 8px;
   color:#f3f3f3;
}

